.modal {
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  width: 20%;
  min-width: 300px;
  min-height: 400px;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 30%;
}

.signup-modal {
  min-height: 600px;
}

.login-modal.hidden {
  display: none;
}

.signup-modal.hidden {
  display: none;
}

.modal h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1.3375rem;
  font-size: 1.5rem;
}

.form-control {
  position: relative;
  margin: 1.8rem 0 3rem;
}
.signup-modal form .form-control {
  margin: 1rem 0 1.9rem;
}

.signup-modal form .form-control-code {
  margin: 1rem 0;
}

.select-country {
  cursor: pointer;
  appearance: none;
  background: url(../img/downArrow.svg) no-repeat;
  background-position: 95% center;
  background-size: 1rem;
}

.select-country.default {
  font-weight: 700;
}

.select-country,
.form-control input {
  background-color: rgba(211, 211, 211, 0.219);
  border: 0;
  border-radius: 1rem;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 1rem 0;
  color: #000000;
  outline: 0;
  font-size: 1.1rem;
  padding: 1rem 0.5rem;
}

.signup-label {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.signup-label span {
  text-decoration: underline;
  color: rgb(98, 148, 236);
  cursor: pointer;
}

form button {
  cursor: pointer;
  width: 100%;
  border: 0;
  border-radius: 0.3rem;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1.2rem;
}

form button:active {
  transform: scale(0.98);
}

form label {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  font-weight: 700;
}

.error {
  font-size: 0.8rem;
  left: 0.5rem;
  position: absolute;
  color: rgb(199, 0, 0);
  font-weight: 600;
}
.form-control label span {
  transition: transform 0.3s ease;
  display: inline-block;
}

.form-control label {
  pointer-events: none;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(137, 137, 155);
  transform: translateY(-2.5rem);
}

.cross {
  height: 1.4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
